<%- include("../../partials/header"); -%>
<header>
    <script src="https://cdn.tiny.cloud/1/47g3tteo3ibkp48h0ouruwv769iuy3l0e6mfw3jzn77e37ta/tinymce/8/tinymce.min.js" referrerpolicy="origin" crossorigin="anonymous"></script>
</header>
    <%- include("../../partials/navBar"); -%>

        <div class="container">

            <h2>Novo Artigo</h2>

            <form action="/categories/save" method="POST">
                <div class="mb-3">

                    <input type="text" name="title" class="form-control" placeholder="Defina o título do artigo">
                    <br>
                    <textarea class="form-control" id="article" name="body"
                        placeholder="Escreva o artigo aqui"></textarea>
                    <br>
                    <button class="btn btn-sucess">Cadastrar</button>
                </div>
            </form>


        </div>
            <script src="/tinymce/tinymce.min.js"></script>
            <script>
  tinymce.init({
    selector: 'article',
    plugins: [
      // Core editing features
      'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
      // Your account includes a free trial of TinyMCE premium features
      // Try the most popular premium features until Mar 11, 2026:
      'checklist', 'mediaembed', 'casechange', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'advtemplate', 'ai', 'uploadcare', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown','importword', 'exportword', 'exportpdf'
    ],
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography uploadcare | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
    tinycomments_mode: 'embedded',
    tinycomments_author: 'Author name',
    mergetags_list: [
      { value: 'First.Name', title: 'First Name' },
      { value: 'Email', title: 'Email' },
    ],
    ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
    uploadcare_public_key: 'aac659f30a7a3b3b34db',
  });
  //https://www.tiny.cloud/my-account/integrate/html/
</script>
        <%- include("../../partials/footer"); -%>