<%- include("../../partials/header"); -%>
    <%- include("../../partials/navBar"); -%>

        <div class="container">



            <h2>cadastro de categoria</h2>


            <form>
                <div class="mb-3">

                    <input type="text" class="form-control" placeholder="Nome da categoria">
                    <br>
                    <button class="btn btn-sucess">Cadastrar</button>
                </div>
            </form>


        </div>